@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.quiz-buttons {
   @include flexbox(column, flex-start, flex-start, 1.5rem);
}

.quiz-button {
   @include width-height(100%, auto);
   @include flexbox(row, flex-start, center, 2rem);
   padding:1rem 1.25rem;
   background: var(--clr-background-2);
   border-radius: 1.5rem;
   border: 3px solid var(--clr-background-2);
   // text-align: start;

   &:hover,:focus-visible {
      .option {
         background: var(--clr-icon-background-4);

         h1 {
            color: var(--clr-neutral-1);
         }
      }
   }
}

.quiz-button[disabled]:not(.correct):not(.not-correct):hover,
.quiz-button[disabled]:not(.correct):not(.not-correct):focus-visible {
  .option {
    background: var(--clr-background-1);

    h1 {
      color: var(--clr-primary-1);
    }
  }
}

.active {
   border: 3px solid var(--clr-neutral-1);

   .option {
      background: var(--clr-neutral-1);

      h1{
         color: var(--clr-background-2);
      }
   }

   &:hover,:focus-visible {
      .option {
         background: var(--clr-neutral-1);
   
         h1{
            color: var(--clr-background-2);
         }
      }
   }
}

.correct {
   border: 3px solid var(--clr-neutral-2);
   justify-content: space-between;

   .option {
      background: var(--clr-neutral-2);

      h1{
         color: var(--clr-background-2);
      }
   }

   .correct-icon {
      display: block;
   }

   &:hover,:focus-visible {
      .option {
         background: var(--clr-neutral-2);
   
         h1{
            color: var(--clr-background-2);
         }
      }
   }
}

.not-correct {
   border: 3px solid var(--clr-neutral-3);
   justify-content: space-between;

   .option {
      background: var(--clr-neutral-3);

      h1{
         color: var(--clr-background-2);
      }
   }

   .not-correct-icon {
      display: block;
   }

   &:hover,:focus-visible {
      .option {
         background: var(--clr-neutral-3);
   
         h1{
            color: var(--clr-background-2);
         }
      }
   }
}

.show-correct-answer {
   justify-content: space-between;

   .correct-icon {
      display: block;
   }
}

.correct-icon {
   display: none;
}

.not-correct-icon {
   display: none;
}



