@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.question-section h1 {
   margin-top: 1.69rem;

   @include mq (small) {
      margin-top: 0.75rem;
   }
} 

.range-wrapper {
   margin-top: 10rem;
   @include width-height(100%, 1rem);
   background: var(--clr-background-2);
   border-radius: 1rem;
   padding: 0.25rem;

   @include mq (medium) {
      margin-top: 2.5rem;
   }

   @include mq (small) {
      margin-top: 1.5rem;
   }
}

.range-progress {
   background: var(--clr-neutral-1);
   height: 0.5rem;
   border-radius: 0.5rem;
}