:root {
   --clr-neutral-1: hsl(277, 91%, 56%, 1); 
   --clr-neutral-2: hsl(151, 70%, 50%, 1); 
   --clr-neutral-3: hsl(0, 82%, 63%, 1); 

   --clr-icon-background-1: hsl(22, 100%, 96%, 1);
   --clr-icon-background-2: hsl(151, 87%, 94%, 1);
   --clr-icon-background-3: hsl(223, 100%, 96%, 1);
   --clr-icon-background-3: hsl(277, 100%, 95%, 1);
   
   //for light
   --clr-primary-1: hsl(216, 25%, 25%, 1); 
   --clr-primary-2: hsl(219, 13%, 44%, 1);

   --clr-background-1: hsl(220, 38%, 97%, 1); 
   --clr-background-2: hsl(0, 0%, 100%, 1); 

    
   
   // [data-theme='dark'] {
   //    --clr-primary-1: hsl(0, 0%, 100%); 
   //    --clr-primary-2: hsl(216, 47%, 78%, 1);

   //    --clr-background-1: hsl(216, 25%, 25%, 1); 
   //    --clr-background-2: hsl(216, 27%, 32%, 1); 

   //    transition: background-color 0.3s ease;
   // }
}





