:root {
   --clr-neutral-1: hsl(277, 91%, 56%, 1); 
   --clr-neutral-2: hsl(151, 70%, 50%, 1); 
   --clr-neutral-3: hsl(0, 82%, 63%, 1); 

   --clr-white: 0, 0%, 100%;
   --clr-grey: hsl(220, 38%, 97%, 1);
   --clr-grey-navy: hsl(219, 13%, 44%, 1);

   --clr-icon-background-1: hsl(22, 100%, 96%, 1);
   --clr-icon-background-2: hsl(151, 87%, 94%, 1);
   --clr-icon-background-3: hsl(223, 100%, 96%, 1);
   --clr-icon-background-4: hsl(277, 100%, 95%, 1);
}





